header { 
    font-size: 5vw;
    position: top;
    text-align: center;
}

#playButton { 
    width: 10.8vmax;
    height: 3.2vmax;
    font-size:20px;
}

#numedit{

}

.commitButton { 
     
}

.resetButton { 
    
}